* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    line-height: 24px;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
    border: 2px solid #9aa0a6 !important;
    background-color: transparent !important;
}

span.crossed {
    text-decoration: line-through;
}

.crossed{
    color: #9aa0a6 !important;
}

.invisible{
    display: none;
}

hr{
    border-color: #9aa0a6 !important;
    height: 0.4px;
}
