<!doctype html>
<head></head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <meta http-equiv="refresh" content="3600">
    <title>Google Keep Widget</title>
</head>
<body data-token="{{token}}" data-list="{{list}}">
<div class="row">
    <div class="col s12 m6">
      <div class="card black darken-4">
        <div class="card-content white-text">
          <form method="get">
            <input id="searchbar" type="text"
              name="name" placeholder="Search" class="white-text"> 
          </form>
          {%if not todos%}
            <span class="card-title">Not Found</span>
          {%else%}
            <span class="card-title">{{todos.title}}</span>
          {%endif%}
          <div id="unchecked-items">
          {%for todo in todos.items%}
            {%if not todo.checked%}
              <p>
                <label>
                  <input type="checkbox" class="filled-in grey lighten-5"
                    {%if todo.checked%}checked{%endif%}
                    onchange="checkFunction(this, '{{loop.index}}')" />
                  <span class="white-text" id="text-{{loop.index}}">{{todo.text}}</span>
                </label>
              </p>
            {%endif%}
          {%endfor%}
          </div>
          <div id="checked-items">
          {%if todos.checked%}
            <hr>
            {%for todo in todos.items%}
              {%if todo.checked%}
                <p>
                  <label>
                    <input type="checkbox" class="filled-in grey lighten-5"
                      {%if todo.checked%}checked{%endif%}
                      onchange="checkFunction(this, '{{loop.index}}')" />
                    <span class="white-text {%if todo.checked%}crossed{%endif%}" id="text-{{loop.index}}">{{todo.text}}</span>
                  </label>
                </p>
              {%endif%}
            {%endfor%}
          {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>